<%- include('header'); -%>
<div class="box" id="heading">
<h1>This is about my Page</h1>
</div>
<div class="box">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem id aperiam magnam, facere debitis itaque quasi temporibus fugiat accusantium, sint quisquam eius quia? Magnam sed quasi, cupiditate provident accusantium aut sapiente ut, doloribus facere rerum numquam. Esse.</p>
</div>
<%- include('footer'); -%>